
*.log
*.tlog
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates
*.unserprefs
*.vs/
*.sln.iml
*fake/
*.cr/
*.pyc
*.vs/
[Tt]est[Rr]esults*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.vcxproj
*.vcxproj.filters
[Dd]ebug/
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
*.suo
*.zip
*.via
*.tmp
*.err
!*.cpp
!*.h
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.ini
*.fig
*.cmp
*.men
*.bat
/CuttedObj/
/ObjImages/
*.bmp
!/myObjCut/
